@using GreenApp.Model

@model IList<Challenge>

@* amennyiben nem töltöttünk semmilyen adatot *@
@if (Model == null || !Model.Any())
{
<div class="contentText">Jelenleg nincs semmilyen kihívás.</div>
}
else
{
<table>
    @* felsoroljuk az épületeket (egy sorban kettőt) *@
  
    <tr>
        @for (Int32 i = 0; i < Model.Count; i++)
                {
        <td>
            <table border="0" width="300">
                <tr class="buildingItem">
                    <td>
                        <strong> Név: </strong> @Model[i].Name                       
                    </td>
                    <td>
                        <img src="@Url.Action("ChallengeImage", "Challenges", new { challangeId = @Model[i].Id })"/>
                    </td>
                </tr>
            </table>
        </td>
                }
    </tr>
        
</table>
}