@using GreenApp.Model;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="bg">    </div>
    <nav class="navbar transparent navbar-inverse">
        <div class="col-sm-12 text-right">
            <div class="navbar-inner">
                <button class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("Register", "Account")'">Regisztráció</button>
                <button class="btn btn-dark btn-lg m-4" onclick="location.href='@Url.Action("Login", "Account")'">Bejelentkezés</button>
            </div>
        </div>
    </nav>
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 m-2">
                <h1 class="h1-responsive display-1 font-weight-bold mt-sm-5">Green App</h1>
                <hr class="hr-light">
                <h6 class="display-4 mb-4">
                    A zöldebb jövőnkért.
                </h6>

            </div>
            </div>
        </div>
</body>
</html>